
.container-fluid {
    margin: 2%;
    border: solid;
    background-color: #d23c96;
}

.text-left {
    text-align:center;
    font-size:25px;
    border: dashed;
    padding: 2em;
}

.view_banner {
    background-color: #fff133;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2%;
}

#idea {
    display:block;
    margin: auto;
}

.danger {
    background-color: #fff133;
    font-size: 50px;
    color: black;
    height: 100%;
    width: 100%;
    animation: move_danger 6s infinite;

}

@-webkit-keyframes move_danger { from { margin-left:-20%; } to { margin-left:100%; }  }

#idea {
    justify-content: center;
}


